# Análise de Produção de Procedimentos de Saúde — Santa Rosa

---


## Índice

1. [Introdução](#introducao)  
2. [Etapas de Análise](#etapas)  
   - [1. Análise Exploratória de Dados (EDA)](#eda)  
   - [2. Limpeza e Preparação dos Dados](#limpeza)  
   - [3. Análises Estratégicas para o Gestor de Saúde do Município](#analises)  
     - [3.1 Volume e Perfil dos Procedimentos](#volume)  
     - [3.2 Produção por Estabelecimento de Saúde](#estabelecimento)  
     - [3.3 Perfil Demográfico e Epidemiológico](#perfil)  
     - [3.4 Fluxos Regionais e Acesso](#fluxos)  
     - [3.5 Recursos Financeiros](#recursos)  
     - [3.6 Foco em Áreas Críticas](#foco)  
     - [3.7 Comparações e Tendências](#comparacoes)  
4. [Anexos e Referências](#anexos)

---


<a id="introducao"></a>
## 1. Introdução

Este notebook organiza, sem código, os resultados e a apresentação das análises solicitadas sobre os procedimentos ambulatoriais e hospitalares realizados em **Santa Rosa**.  
Use cada seção para colar tabelas, gráficos e observações. Indicamos também queries SQL e/ou procedimentos ETL sugeridos quando pertinente.


<a id="etapas"></a>
## 2. Etapas de Análise (resumo)

Abaixo estão as etapas principais. Em cada sub-seção há espaço para: *objetivo*, *método/consulta usada*, *tabelas/resultados* e *insights*.


<a id="eda"></a>
### 2.1 Análise Exploratória de Dados (EDA)

**Objetivos**
- Conhecer dimensão do dataset e tipos de variáveis.
- Obter estatísticas descritivas iniciais.
- Identificar valores faltantes e inválidos.


**Detecção de problemas**
- Valores ausentes (NaN / vazio) — listar colunas e contagens.
- Valores inválidos (ex.: idade fora da faixa, sexo ≠ M/F, CIDs inconsistentes) — listar exemplos e contagens.

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import mysql.connector

# Conexão com o banco de dados
connection = mysql.connector.connect(
    host='192.168.196.63',
    user='root',
    password='ABC!abc123',
    database='projeto1'
)

QUERY = """
DESCRIBE pars;

"""
cursor = connection.cursor(dictionary=True)
cursor.execute(QUERY)
data = cursor.fetchall()
df = pd.DataFrame(data)
print("Estrutura da tabela 'pars':")
display(df)

Estrutura da tabela 'pars':

         Field           Type Null Key Default Extra
0    PA_CODUNI    varchar(20)  YES        None
1    PA_GESTAO    varchar(20)  YES        None
2    PA_CONDIC    varchar(20)  YES        None
3     PA_UFMUN    varchar(10)  YES        None
4     PA_REGCT    varchar(20)  YES        None
5    PA_INCOUT    varchar(20)  YES        None
6    PA_INCURG    varchar(20)  YES        None
7     PA_TPUPS    varchar(20)  YES        None
8    PA_TIPPRE    varchar(20)  YES        None
9    PA_MN_IND    varchar(20)  YES        None
10  PA_CNPJCPF    varchar(20)  YES        None
11  PA_CNPJMNT    varchar(20)  YES        None
12  PA_CNPJ_CC    varchar(20)  YES        None
13      PA_MVM    varchar(20)  YES        None
14      PA_CMP    varchar(20)  YES        None
15  PA_PROC_ID    varchar(30)  YES        None
16    PA_TPFIN    varchar(20)  YES        None
17   PA_SUBFIN    varchar(20)  YES        None
18   PA_NIVCPL    varchar(20)  YES        None
19  PA_DOCORIG    varchar(30)  YES        None
20  PA_AUTORIZ    varchar(30)  YES        None
21   PA_CNSMED    varchar(20)  YES        None
22   PA_CBOCOD    varchar(20)  YES        None
23   PA_MOTSAI    varchar(20)  YES        None
24    PA_OBITO    varchar(10)  YES        None
25   PA_ENCERR    varchar(10)  YES        None
26   PA_PERMAN    varchar(10)  YES        None
27     PA_ALTA    varchar(10)  YES        None
28   PA_TRANSF    varchar(10)  YES        None
29   PA_CIDPRI    varchar(20)  YES        None
30   PA_CIDSEC    varchar(20)  YES        None
31   PA_CIDCAS    varchar(20)  YES        None
32   PA_CATEND    varchar(20)  YES        None
33    PA_IDADE            int  YES        None
34    IDADEMIN            int  YES        None
35    IDADEMAX            int  YES        None
36  PA_FLIDADE     varchar(5)  YES        None
37     PA_SEXO     varchar(5)  YES        None
38  PA_RACACOR    varchar(10)  YES        None
39   PA_MUNPCN    varchar(20)  YES        None
40   PA_QTDPRO            int  YES        None
41   PA_QTDAPR            int  YES        None
42   PA_VALPRO  decimal(15,2)  YES        None
43   PA_VALAPR  decimal(15,2)  YES        None
44    PA_UFDIF    varchar(10)  YES        None
45    PA_MNDIF    varchar(10)  YES        None
46  PA_DIF_VAL  decimal(15,2)  YES        None
47  NU_VPA_TOT  decimal(15,2)  YES        None
48   NU_PA_TOT  decimal(15,2)  YES        None
49   PA_INDICA    varchar(20)  YES        None
50   PA_CODOCO    varchar(20)  YES        None
51     PA_FLQT    varchar(10)  YES        None
52     PA_FLER    varchar(10)  YES        None
53    PA_ETNIA    varchar(10)  YES        None
54    PA_VL_CF  decimal(15,2)  YES        None
55    PA_VL_CL  decimal(15,2)  YES        None
56   PA_VL_INC  decimal(15,2)  YES        None
57    PA_SRV_C    varchar(10)  YES        None
58      PA_INE    varchar(20)  YES        None
59  PA_NAT_JUR    varchar(20)  YES        None

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import mysql.connector

# Conexão com o banco de dados
connection = mysql.connector.connect(
    host='192.168.196.63',
    user='root',
    password='ABC!abc123',
    database='projeto1'
)

QUERY = """
DESCRIBE s_cid;

"""
cursor = connection.cursor(dictionary=True)
cursor.execute(QUERY)
data = cursor.fetchall()
df = pd.DataFrame(data)
print("Estrutura da tabela 's_cid':")
display(df)

Estrutura da tabela 's_cid':

        Field      Type Null Key Default Extra
0      cd_cod   char(4)  YES        None
1         opc   char(1)  YES        None
2         cat   char(1)  YES        None
3      subcat   char(1)  YES        None
4    cd_descr  char(50)  YES        None
5   restrsexo   char(1)  YES        None
6  campos_rad   char(3)  YES        None
7     estadio   char(1)  YES        None
8  repete_rad   char(1)  YES        None

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import mysql.connector

# Conexão com o banco de dados
connection = mysql.connector.connect(
    host='192.168.196.63',
    user='root',
    password='ABC!abc123',
    database='projeto1'
)

QUERY = """
DESCRIBE tb_sigtaw;

"""
cursor = connection.cursor(dictionary=True)
cursor.execute(QUERY)
data = cursor.fetchall()
df = pd.DataFrame(data)
print("Estrutura da tabela 'tb_sigtaw':")
display(df)

connection.close()

Estrutura da tabela 'tb_sigtaw':

     Field       Type Null Key Default Extra
0   ip_cod   char(10)  YES        None
1  ip_dscr  char(150)  YES        None

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import mysql.connector

# Conexão com o banco de dados
connection = mysql.connector.connect(
    host='192.168.196.63',
    user='root',
    password='ABC!abc123',
    database='projeto1'
)

QUERY = """
DESCRIBE tb_municip;

"""
cursor = connection.cursor(dictionary=True)
cursor.execute(QUERY)
data = cursor.fetchall()
df = pd.DataFrame(data)
print("Estrutura da tabela 'tb_municip':")
display(df)

Estrutura da tabela 'tb_municip':

         Field      Type Null Key Default Extra
0   co_municip   char(6)  YES        None
1   co_municdv   char(7)  YES        None
2    co_status   char(7)  YES        None
3      co_tipo   char(7)  YES        None
4      ds_nome  char(48)  YES        None
5   ds_nomepad  char(48)  YES        None
6    ds_observ   char(1)  YES        None
7    co_regiao   char(1)  YES        None
8        co_uf   char(2)  YES        None
9     co_alter   char(1)  YES        None
10  co_alterdv   char(1)  YES        None
11  in_capital   char(1)  YES        None
12  in_amazleg   char(1)  YES        None
13   in_semiar   char(1)  YES        None
14  in_frontzn   char(1)  YES        None
15   dt_instal   char(4)  YES        None
16    dt_extin   char(4)  YES        None
17   co_sucess   char(6)  YES        None
18    nu_ordem   char(1)  YES        None
19   nu_ordmap   char(1)  YES        None
20  nu_latitud  char(19)  YES        None
21   nu_longit  char(18)  YES        None
22  nu_altitud   char(4)  YES        None
23     nu_area  char(10)  YES        None


<a id="limpeza"></a>
### 2.2 Limpeza e Preparação dos Dados

**Objetivos**
- Corrigir problemas identificados na EDA.
- Produzir um dataset pronto para análise estratégica.

**Estratégias propostas**
- Valores nulos: apresentar contagem e a ação aplicada (apagar linhas ou preencher com "Não informado").
- Inconsistências: descrição das regras de normalização (ex.: padronizar nomes de municípios, especialidades).
- Duplicações: número de registros duplicados encontrados e ação (remoção).

**Tabela de antes/depois**
- Colocar uma tabela resumo com contagens “antes” e “depois” por tipo de limpeza.

**Observações**
- Registrar decisões de imputação/exclusão para auditoria.


<a id="analises"></a>
## 3. Análises Estratégicas para o Gestor de Saúde do Município

Nesta seção, cole resultados, tabelas e gráficos finais que respondam às perguntas estratégicas.


<a id="volume"></a>
### 3.1 Volume e Perfil dos Procedimentos

**Perguntas-chave**
- Quantos procedimentos ambulatoriais foram realizados em Santa Rosa no último mês, trimestre e ano?

**Observação técnica**
- Gerar a granularidade temporal a partir do arquivo `04-gera-dimtempo-mysql.sql` (usar dim_tempo para agrupar por mês/trimestre/ano).

**Tabelas / Gráficos a incluir**
- Tabela: contagem de procedimentos por período (mês / trimestre / ano).
- Gráfico: série temporal com tendência (últimos 24 meses).
- Tabela: distribuição por especialidade/procedimento (consultas, exames de imagem, oncologia, psiquiatria, etc).
- Análise de picos e quedas na demanda (datas e possíveis causas).

**Espaço para resultados**
- Número procedimentos (mês): `______`  
- Número procedimentos (trimestre): `______`  
- Número procedimentos (ano): `______`

**Insights**
- (encher com comentários)


<a id="estabelecimento"></a>
### 3.2 Produção por Estabelecimento de Saúde

**Perguntas-chave**
- Ranking de produção por estabelecimento (Hospital Vida & Saúde, UBS, clínicas conveniadas).
- Comparar volume de procedimentos aprovados × produzidos.
- Avaliar taxa de procedimentos produzidos (produzidos / aprovados).

**Tabelas / Gráficos a incluir**
- Tabela: ranking por número de procedimentos e valor financeiro.
- Gráfico: barras com aprovados vs produzidos por estabelecimento.
- KPI: taxa de produção (%) por estabelecimento.

**Espaço para resultados**
- Tabela de ranking (colar aqui)
- Observações sobre discrepâncias aprovados × produzidos.


<a id="perfil"></a>
### 3.3 Perfil Demográfico e Epidemiológico da População Atendida

**Perguntas-chave**
- Distribuição por sexo e faixa etária.
- Principais diagnósticos (CIDs) atendidos.
- Procedimentos recorrentes para doenças crônicas.

**Tabelas / Gráficos a incluir**
- Pirâmide etária / histograma por faixa etária.
- Tabela: top 10 CIDs por número de atendimentos.
- Tabela/Gráfico: procedimentos recorrentes por CID (ex.: hipertensão, diabetes).

**Espaço para resultados**
- Distribuição por sexo: `M = __%`, `F = __%`, `Outro/Não informado = __%`.
- Faixa etária predominante: `______`.

In [14]:
# Distribuição por sexo e faixa etária
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector


<a id="fluxos"></a>
### 3.4 Fluxos Regionais e Acesso

**Perguntas-chave**
- Municípios de origem dos pacientes atendidos em Santa Rosa.
- Quantos atendimentos feitos em Ijuí são de moradores de outros municípios.
- Identificação de regiões dependentes do Hospital Vida & Saúde ou UBSs locais.

**Tabelas / Gráficos a incluir**
- Mapa / tabela: municípios de procedência (top 20).
- Tabela: atendimentos em Ijuí por município de residência.
- Análise de dependência regional (percentual de usuários vindos de fora).

**Espaço para resultados**
- Top 10 municípios de origem: (colar tabela)
- Percentual de pacientes de fora em Ijuí: `______%`


<a id="recursos"></a>
### 3.5 Recursos Financeiros

**Perguntas-chave**
- Total de valores aprovados pelo SUS para Santa Rosa × valores produzidos.
- Diferença entre produzidos e aprovados.
- Evolução do gasto médio por procedimento.

**Tabelas / Gráficos a incluir**
- Tabela resumo: aprovados vs produzidos por período.
- Gráfico: evolução do gasto médio por procedimento (mês/trimestre).
- KPI: diferença absoluta e percentual entre aprovados e produzidos.

**Espaço para resultados**
- Total aprovados (ano): `R$ ______`  
- Total produzidos (ano): `R$ ______`  
- Diferença: `R$ ______` (`__%`)


<a id="foco"></a>
### 3.6 Foco em Áreas Críticas

**Temas**
- Oncologia: quimioterapia e radioterapia (aprovados × produzidos).
- Saúde mental: atendimentos psiquiátricos e psicológicos.
- Atenção básica: consultas e procedimentos nas UBS, acompanhamento de doenças crônicas.

**Tabelas / Gráficos a incluir**
- Tabela: aprovados vs produzidos em oncologia (quimioterapia, radioterapia).
- Série temporal: atendimentos em saúde mental.
- Indicadores de atenção básica: consultas por usuário no último ano, acompanhamento de diabéticos/hipertensos.

**Espaço para resultados**
- Aprovados × produzidos (oncologia): (colar tabela)
- Observações e recomendações operacionais.


<a id="comparacoes"></a>
### 3.7 Comparações e Tendências

**Perguntas-chave**
- Comparar Santa Rosa com municípios da região (Ijuí, Santo Ângelo).
- A demanda de Santa Rosa cresce acima da média regional?
- Identificar tendências (ex.: envelhecimento → mais procedimentos cardiológicos e oncológicos).

**Tabelas / Gráficos a incluir**
- Tabela comparativa por indicador (procedimentos per capita, gasto per capita, taxa de crescimento).
- Gráfico: comparação de séries temporais entre municípios.
- Análise de tendência e projeção (se disponível).

**Espaço para resultados**
- Comparação resumida (colar tabela)
- Conclusões estratégicas.


<a id="anexos"></a>
## 4. Anexos e Referências

- Arquivos SQL referenciados:
  - `04-gera-dimtempo-mysql.sql` — usar para gerar dimensão de tempo e granularidades.
- Logs e decisões de limpeza (incluir arquivo CSV ou planilha com auditoria).
- Scripts/consultas utilizados (colar ou anexar em arquivos separados).
- Glossário de termos e siglas (SUS, UBS, CID, etc).

---

### Instruções finais para uso
1. Este notebook foi gerado sem código propositadamente. Cole aqui as tabelas/figuras exportadas pelas suas análises (PNG, SVG, tabelas HTML ou imagens).
2. Para apresentação, exporte este notebook para PDF ou use-o dentro de um repositório com os artefatos gerados.
3. Se desejar, posso transformar este layout em um notebook que contenha células de código (Python / SQL) para executar diretamente as consultas e gerar gráficos automaticamente — me diga se quer isso.